.hero-logo svg path {
  fill: transparent;
  stroke: #fff;
  stroke-width: 0.2;
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
  animation: textAnimation 2s ease-in-out forwards;
}

@keyframes textAnimation {
  0% {
    stroke-dashoffset: 200;
  }

  80% {
    fill: transparent;
  }

  100% {
    stroke-dashoffset: 0;
    fill: #fff;
  }
}
