.predictions-container {
  background: #00000099;
  border: 1px solid #470173;
  backdrop-filter: blur(50px);
  box-shadow: 0px 4px 84px 0px #470173;
  border-radius: 35px;
}

.percentage-bar-shadow {
  box-shadow: 0px 0px 16px 3px #582fb880;
}

.go-to-versus-button {
  border-radius: 30px;
  background: #1e1e1e99;
  border: 1px solid #1e1e1e;
  backdrop-filter: blur(4px);
  box-shadow: 0px 0px 14px 0px #e7e0cf80;
}

.share-container {
  background: #1e1e1e1a;
  border: 3px solid #ffffff;
  box-shadow: 0px 4px 60px 0px #ffffff4d;
  border-radius: 30px;
}
