.predictions-container {
  background: #00000099;
  border: 1px solid #470173;
  backdrop-filter: blur(50px);
  box-shadow: 0px 4px 84px 0px #470173;
  border-radius: 35px;
}

.go-to-vote-button {
  background: #1e1e1e99;
  border: 1px solid #1e1e1e;
  backdrop-filter: blur(4px);
  box-shadow: 0px 0px 14px 0px #582fb8;
  border-radius: 30px;
}

.share-container {
  background: #1e1e1e1a;
  border: 3px solid #ffffff;
  box-shadow: 0px 4px 60px 0px #ffffff4d;
  border-radius: 30px;
}

.share-container {
  background: #1e1e1e1a;
  border: 1px solid #ffffff;
  box-shadow: 0px 4px 60px 0px #ffffff4d;
  border-radius: 30px;
}

@media (min-width: 1280px) {
  .share-container {
    background: #1e1e1e1a;
    border: 3px solid #ffffff;
    box-shadow: 0px 4px 60px 0px #ffffff4d;
    border-radius: 30px;
  }
}
