.video-border {
  border: 5px solid #582fb8;
  backdrop-filter: blur(7.800000190734863px);
  border-radius: 47px;
}

/* Partners lines */

.right-partner-line {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-image-source: linear-gradient(
    90deg,
    #d9d9d9 0%,
    rgba(0, 25, 21, 0) 100%
  );
  border-image-slice: 1;
}

.left-partner-line {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-image-source: linear-gradient(
    90deg,
    rgba(0, 25, 21, 0) 0%,
    #d9d9d9 100%
  );
  border-image-slice: 1;
}
